/* ESTILO GERAL*/

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'poppins', sans-serif;
}

body{
background-color: black;
height: 100vh;
}

#img_editada{ 
width: 200px;
height: 200px;
border-radius: 50%;

}

#img_editada_2{
width: 300px;
height: 300px;
border-radius: 10%;
}


.interface{
max-width: 1280px;
margin: 0 auto;
}
.flex{
display: flex;

}



/*ESTILO DO CABEÇALHO*/
header{
padding: 40px 4%;

}

header>.interface{
display: flex;
align-items: center;
justify-content: space-between;
}

header a{
    color: rgb(85, 85, 85);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}



header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

 

.btn-contato button:hover{
box-shadow: 0px 0px 8px orange;
transform: scale(1.05);
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: orange;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 50ms;
}

/* ESTILO DO TOPO DO SITE */
.section.topo-do-site{
padding: 40px 4%;

}

.section.topo-do-site.flex{
    align-items: center;
    justify-content: center;
    


}



.topo-do-site h1{
    color: #fff;
    font-size: 30px;
    line-height: 40px;
}

.topo-do-site p{
    color: #ffffff;
    margin: 40px ;
    gap: 90px;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
}

span{
    color: orange;
}