/* ESTILO GERAL*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    }
    
    body{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    }
    
    #img_editada{ 
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
    }
    
    #img_editada_2{
    width: 300px;
    height: 300px;
    border-radius: 10%;
    }
    
    
    .interface{
    max-width: 1280px;
    margin: 0 auto;
    }
    .flex{
    display: flex;
    
    }
    
    
    
    /*ESTILO DO CABEÇALHO*/
    header{
    padding: 40px 4%;
    
    }
    
    header>.interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    
    header a{
        color: rgb(85, 85, 85);
        text-decoration: none;
        display: inline-block;
        transition: .2s;
    }
    
    header a:hover{
        color: #fff;
        transform: scale(1.05);
    }
    
    
    
    header nav ul{
        list-style-type: none;
    }
    
    header nav ul li{
        display: inline-block;
        padding: 0 40px;
    }
    
     
    
    .btn-contato button:hover,form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px orange;
    transform: scale(1.05);
    }
    
    .btn-contato button{
        padding: 10px 40px;
        font-size: 18px;
        font-weight: 600;
        background-color: orange;
        border: 0;
        border-radius: 30px;
        cursor: pointer;
        transition: 50ms;
    }
    
/*ESTILO DO FORMULARIO DE CONTATO*/


h2{
color: #fff;
}
 span{
    color: orange;
}


section.formulario{
    padding: 80px 4%;
}
form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}
form input,form textarea{
    width: 100%;
    background-color: rgb(29, 29, 29);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea{
    resize: none;
    max-height: 250px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 110px;
    background-color: orange;
    color: black;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

#img_editada3{
    border-radius: 20%;
}



footer .line-footer p a{
    color: #fff;
}

.borda{
    border-top: 2px solid orange;
}
p a{
    text-decoration: none; 
}


.logo_instagram,.logo_facebook,.logo_wpp,.logo_mail{
    border-radius: 30%;;
}


p{
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



